.recipeContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: calc(100vw/6);
}
    
@media screen and (max-width: 1300px) {
    .recipeContainer {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: calc(100vw/5);
    }
}

@media screen and (max-width: 800px) {
    .recipeContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: calc(100vw/4);
    }
}

@media screen and (max-width: 600px) {
    .recipeContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: calc(100vw/3);
    }
}

@media screen and (max-width: 450px) {
    .recipeContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: calc(100vw/2);
    }
}

@media screen and (max-width: 350px) {
    .recipeContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: calc(100vw/1);
    }
}

.recipeImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.recipe-gradient:hover {
    opacity: .5;
}

.recipe-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    z-index:10;
    display:block;
    background-image: linear-gradient(0deg,rgba(0,0,0,.7) 15%,transparent 50%);
}

.recipe-title {
    font-family: 'Montserrat', sans-serif;
}
