.recipeContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: calc(100vw/6);
}

.recipeImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.recipeImage:hover {
    opacity: .8;
}