#recipeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.recipeImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.recipe-gradient:hover {
    opacity: .5;
}

.recipe-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    z-index:10;
    display:block;
    background-image: linear-gradient(0deg,rgba(0,0,0,.7) 15%,transparent 50%);
}
